<header id="top" class="header">
    <div class="text-vertical-center">
        <img alt="Homescreen Logo" src="img/homescreen_logo.png" style="width: 250px; opacity: 0.8;">
        <h1>Homescreen</h1>
        <h3>Your favorite touchscreen app for all you home functions.<br> See the outside weather, see when your underground or bus departs, <br> control your Philips hue lights or just to deeply impress your friends.</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
    </div>
</header>